<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .bonobono {
        background-image: url("/eagle.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="bonobono">
      <h1>eagle은 당신것이 아닙니다! </h1>
      <h2>이-글 </h2>
    </div>
  </body>
  <script>
    setTimeout(() => {
      location.href = "/board";
    }, 3000);
  </script>
</html>
