.position1 {
  /* position: absolute; */
  /* relative 속성을 가지고 있는 부모의 좌측 상단을 기준으로 지정 */
  position: relative;
  /* 이전영역의 위치를 기준으로 지정한다. */
  width: 500px;
  height: 2000px;
  border: 1px solid;
  /* 태그를 해당 위치에서 움직여줘야할 때 위치를 지정하고 싶을 때 */
  /* position 속성을 주고 top,left속성으로 움직여주자 */
  top: 100px;
  left: 100px;
  /* right: 100px; */
  /* bottom: 100px; */
  /* 주의)top을 쓰면 bottom을 쓰면안된다. left를 썼다면 right를 쓰면 안된다. */
}

.position2 {
  /* relative속성을 가지고있는 부모가 없으면 body를 기준으로 움직인다. */
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid;
  top: 100px;
  left: 100px;
  /* bottom: 100px;
  right: 100px; */
  position: fixed;
  /* 우리가 보고있는 브라우저의 위치로 고정시킨다.(즉 스크롤해도 따라서 움직임)
  nav바를 만들 때 사용 */
  position: sticky;
  /* 지정한 위치밖으로 나가지 못하게 */
}
.position3 {
}
