<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <ul>
      <% data.forEach((el)=>{ %>
      <li>
        <span class="name"> <%= el.name %> </span>,hi <%= el.age %> age the
        message is <%= el.message %> <input type="text" class="item-input" />
        <button class="item-btn">글 등록</button>
      </li>
      <% }); %>
    </ul>
  </body>
  <script>
    // ajax: 요청과 응답에 대한 처리를 할 수 있게 도와주는 메서드
    window.onload = function () {
      let btn = document.querySelectorAll(".item-btn");
      btn.forEach((e, index) => {
        e.onclick = () => {
          let value = document.querySelectorAll(".item-input")[index].value;
          let name = document.querySelectorAll(".name")[index].innerText;
          console.log(value);
          console.log(name);
          //   요청해서 값 넣자
          // ajax 메서드 사용
          $.ajax({
            // 요청할 url
            url: "/create_post",
            type: "post",
            data: { value, name },
          });
        };
      });
    };
  </script>
</html>
