<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    작성: <%= data.name %>
    <ul>
      <% data.Posts.forEach((el)=>{ %>
      <li>
        <span><%= el.id %></span>
        <span><%= el.msg %></span>
      </li>

      <% }) %>
    </ul>
  </body>
</html>
