
  @font-face {
    font-family: "BMEULJIRO";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
  body {
    background-color: #b0daff;
    font-family: "BMEULJIRO";
  }
.main-container{
    width: 300px;
    height: 600px;
    border: 2px solid #feff86;
    margin: auto;
}

.main-btn-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-btn-container a{
    text-decoration: none;
    width: 200px;
    height: 100px;
    border: 1px solid #146C94;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;

}