.signIn-container{
    width: 300px;
    height: 600px;
    border: 1px solid rgb(219,219,219);
    margin: auto;
}

.input-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.input-container form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.email-container label{
    display: block;
    font-size: large;
    color: silver;
}
.paswword-container label{
    display: block;
    font-size: large;
    color: silver;
}


.input-container button{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 149, 246,0.8);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.signIn-container a{
    text-decoration: none;
    color: rgb(0, 149, 246);
    font-size: medium;
    display: flex;
    justify-content: center;
}