<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- action을 정해주지 않으면 현재 페이지로 간주 -->
    <form  method="post">
      <label for=""></label>
      <input type="text" name="id" value="<%= data.id%>" disabled />
      <label for="">이름</label>
      <input type="text" name="name" value="<%= data.name%>" />
      <label for="">번호</label>
      <input type="text" name="number" value="<%= data.number%>" />
      <label for="">시리즈</label>
      <input type="text" name="series" value="<%= data.series%>" />
      <button type="submit">수정</button>
    </form>
  </body>
</html>
