<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>login Page</h2>
    <form action="/login" method="post">
      <label for="">아이디</label>
      <input type="text" name="user_id" />
      <label for="">비밀번호</label>
      <input type="password" name="user_pw" />
      <!-- {user_id: nams user_id를 가지고 있는 input value,user_pw:속성 user_pw를 가지고 있는 input value} -->
      <!-- {user_id:1,user_pw:2} -->
      <button type="submit">로그인</button>
    </form>
  </body>
</html>
