<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if(data) {%>
    <p><%= data.user_id %> 사용자가 로그인 함</p>
    <% }else{ %>
    <p>로그인 정보 없음</p>
    <% }%>
  </body>
  <script>
    if (data) {
    } else {
    }
  </script>
</html>
