div {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

div > img {
  width: 100%;
  height: 100%;
}

.box > img {
  /* transform: translate(x축,y축)
해당 태그를 이동시켜준다.
translate 함수처럼 생겼네 */
  transform: translate(10px, 100px);
}

.box2 > img {
  transform: translateX(100px);
  /* y축은 없고 x축만 이동 */
  /* translateX(X축값) */
}

.box2 > img {
  /* css는 같은 선택자일때 밑에 있는 속성이 적용된다. */
  transform: translateY(100px);
  /* y축으로만 이동 trnaslateY(Y축값F) */
}

.box3 > img {
  transform: scale(0.1, 1);
  /* 
    1이 기본 크기고 
    크기를 조절 할 수 있다.
    0.5가 50%의 태그의 크기
    변수값이 두개이면 x크기,y크기 조절이 가능하다*/
}

.box4 > img {
  transform: rotate(90deg);
  /* 태그를 회전 시켜준다.값은 각도로 입력 45deg는 45도 회전 */
}

/* css에서 animation을 작성할 때 사용한다.@keyframe 뒤에 작성된게 애니메이션의 이름 ani */
@keyframes ani {
  0% {
    /* 전체 동작중 0~50%까지의 내용 */
    transform: rotate(0);
  }
  50% {
    /* 전체 동작중에 50일 때 */
    transform: rotate(360deg);
  }
  100% {
    /* 전체 동작중에 50~100%까지일 때 */
    transform: rotate(0);
  }
}

.box5 > img {
  transition: transform 3s linear, border 1s ease-in-out,
    border-radius 1s ease-in-out, rotate 1s;
  /* 스타일 값이 변하면서 효과를 줄수가 있다. 
    transition에 대해서 변화하는 시가 변화의 방법을 설정할 수 있다.
    trnasform 3s trnasform속성이 3초간 변화하고 (태그가 돌아가는 것)
    border 1s border값이 1초동안 변화(테두리가 생기는것)
    border-radius 1s값이 1초동안 변화(둥글게 모서리가 깎임) */
}

.box5 > img {
  /* animation:keyframes의 이름 시간 변화 방법 */
  /* animation: ani 1s ease; */
}
.box5:hover > img {
  /* 마우스가 태그에 올려졌을때  */
  transform: rotate(720deg);
  border: 10px solid red;
  border-radius: 50%;
}

.box6 {
  position: relative;
}

.box6 > img {
  position: absolute;
  width: 200px;
  height: 200px;
  /* 상 50% 좌 50% 태그 이동시키고  */
  left: 50%;
  top: 50%;
  /* 태그의 반지름 만큼 위로 50% 이동,좌로 50% 이동 */
  transform: translate(-50%,-50%);
}
