@media only screen and (max-width: 1000px) {
  /* media query 브라우저 환경에 따라 css를 적용시킨다. */
  /*@media only(이곳에서만) screen(화면일 때) and(조건){css 스티일 작성}   */
  /*화면 1000px까지 스타일이 적용된다. */

  /* 여기에 스타일 작성하면 된다. */
  .box {
    width: 500px;
    height: 500px;
    background-color: red;
  }
}

@media only screen and (min-width: 500px) {
  /* 너비가 500px이상  */
  .box {
    background-image:url('./bor.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 500px;
  }
  /* 1000px 까지는 @media only screen and (max-width: 1000px)의 속성을 가지고 500px이상에선
  @media only screen and (min-width: 500px) 속성을 가진다.*/
}


/* css장성하면서 손에 익질 않았기 때문에 */