<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="">id</label>
    <input type="text" value="<%= data.id%>" disabled>
    <label for="">제목</label>
    <input type="text" value="<%= data.title%>" name="title"  disabled>
    <label for="">내용</label>
    <input type="text" value="<%= data.content%>" name="content" disabled>
</body>
</html>