<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <label for="">제목</label>
      <input type="text" name="title" />
      <label for="">내용</label>
      <input type="text" name="content" />
      <!-- {title:input value,content:input value} -->
      <button>추가</button>
    </form>
  </body>
</html>
