<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>관리자 페이지</h1>
    <ul>
      <% data.forEach((el)=>{ %>
      <div>사용자 아이디</div>
      <li><%= el.user_id %></li>
      <div>사용자 닉네임</div>
      <li><%= el.username %></li>
      <form action="/users/accept/<%= el.id %>" method="post">
        <button>입장 허락</button>
      </form>
      <form action="/users/denied/<%= el.id %>" method="post">
        <button>입장 거부</button>
      </form>
      <br /><br />
      <% }) %>
    </ul>
  </body>
</html>
